<p id="notice"><%= notice %></p>

<p>
  <strong>Nine digit number:</strong>
  <%= @form_n400.nine_digit_number %>
</p>

<p>
  <strong>Citizen 5 years:</strong>
  <%= @form_n400.citizen_5_years %>
</p>

<p>
  <strong>Citizen 3 years:</strong>
  <%= @form_n400.citizen_3_years %>
</p>

<p>
  <strong>Citizen spouse:</strong>
  <%= @form_n400.citizen_spouse %>
</p>

<p>
  <strong>Military service:</strong>
  <%= @form_n400.military_service %>
</p>

<p>
  <strong>Other:</strong>
  <%= @form_n400.other %>
</p>

<p>
  <strong>User:</strong>
  <%= @form_n400.user.email %>
</p>

<p>
  <strong>Last Name</strong>
  <%= @form_n400.legal_last_name %>
</p>

<p>
  <strong>Last Name</strong>
  <%= @form_n400.legal_first_name %>
</p>

<p>
  <strong>Last Name</strong>
  <%= @form_n400.legal_middle_name %>
</p>

<p>
  <strong>Last Name</strong>
  <%= @form_n400.social_security %>
</p>

<p>
  <strong>Last Name</strong>
  <%= @form_n400.uscis_number %>
</p>

<p>
  <strong>Last Name</strong>
  <%= @form_n400.gender %>
</p>

<p>
  <strong>Last Name</strong>
  <%= @form_n400.date_of_birth %>
</p>

<p>
  <strong>Last Name</strong>
  <%= @form_n400.date_permanent_resident %>
</p>

<p>
  <strong>Last Name</strong>
  <%= @field_office.name %>
</p>
<%= link_to 'Edit', edit_form_n400_path(@form_n400) %> |
<%= link_to 'Back', form_n400s_path %>

