<!DOCTYPE html>
<html>
  <head>
    <title>FormTester</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>  
    <script type="text/javascript">
        $(document).ready(function(){
            $("#SignupForm").formToWizard({ submitButton: 'SaveAccount' })
        });
    </script>
  </head>

  <body>
    <%= render 'shared/nav' %>
    <%= render 'shared/flash_messages' %> 
    <%= yield %>
  </body>
</html>
